<a href="https://colab.research.google.com/github/Roshanshres/pandas/blob/main/15_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas is fast powwerful flexible, and easy to use open source data analysis and manipulation tool, built on the top of the python programming language.

PANDA series are like column in table 1-D array holding data of any type.

Types of objects


1.   Series
2.   Dataframe

In [4]:
#importing pandas
import numpy as np
import pandas as pd
#series
# create array
country = ['India', 'Nepal', 'USA', 'SriLanka', 'UK']
pd.Series(country)

0       India
1       Nepal
2         USA
3    SriLanka
4          UK
dtype: object

In [5]:
runs = [13,24,56,78,99,123,124]
pd.Series(runs)

0     13
1     24
2     56
3     78
4     99
5    123
6    124
dtype: int64

In [19]:
#custom index
marks = [90,80,30,40]
subject =   ['Physics','math', 'Biology', 'Nepal']
pd.Series(marks, index= subject)

Physics    90
math       80
Biology    30
Nepal      40
dtype: int64

In [20]:
#to give names
pd.Series(marks,index = subject, name ='Roshan')
#marks = pd.Series(index = subject, name = 'Roshan')

Physics    90
math       80
Biology    30
Nepal      40
Name: Roshan, dtype: int64

In [21]:
marks = pd.Series(index = subject, name = 'Roshan')
marks

<ipython-input-21-9c2fa23c53ef>:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  marks = pd.Series(index = subject, name = 'Roshan')

Physics   NaN
math      NaN
Biology   NaN
Nepal     NaN
Name: Roshan, dtype: float64

In [24]:
#series from dict
marks = {
    'math':70,
    'nepali':90,
    'physics':80,
    'chemistry': 60
}
marks_series = pd.Series(marks)
marks

{'math': 70, 'nepali': 90, 'physics': 80, 'chemistry': 60}

In [27]:
pd.Series(marks, name = 'roshan')

math         70
nepali       90
physics      80
chemistry    60
Name: roshan, dtype: int64

SERIESE USING READ_CSV

In [29]:
# pd.read_csv('/content/subs.csv')
#this is not in series to see type we do
type(pd.read_csv('/content/subs.csv'))

pandas.core.frame.DataFrame

In [31]:
#to convert into serires
pd.read_csv('/content/subs.csv', squeeze =True)

<ipython-input-31-a23808ec79f0>:2: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  pd.read_csv('/content/subs.csv', squeeze =True)

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [32]:
#insert into variable
subs = pd.read_csv('/content/subs.csv', squeeze = True)
subs

<ipython-input-32-65ae27aa4615>:2: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  subs = pd.read_csv('/content/subs.csv', squeeze = True)

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [35]:
#with 2 column
vk = pd.read_csv('/content/kohli_ipl.csv', index_col = 'match_no', squeeze = True)
vk

<ipython-input-35-fa9ec3401079>:2: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  vk = pd.read_csv('/content/kohli_ipl.csv', index_col = 'match_no', squeeze = True)

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [38]:
#with 2 column --- bollyhood
bolly = pd.read_csv('/content/bollywood.csv', index_col = 'movie', squeeze = True)
bolly

<ipython-input-38-b2dabc78fed1>:2: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  bolly = pd.read_csv('/content/bollywood.csv', index_col = 'movie', squeeze = True)

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object